useDynLib(pgphenotype, .registration = TRUE)
export(pgphenotype_version)
export(pg_core_rev)
export(trait)
export(pafgrs_prepare)
export(pafgrs_cip)
export(pafgrs_score_univariate)
export(pafgrs_score_bivariate)
export(configure_threads)
export(thread_budget)
S3method(print, pgphenotype_trait)
S3method(print, pgphenotype_pafgrs_prep)
S3method(print, pgphenotype_pafgrs_cip)
